* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background-color: #CCCCCC;
}

.container,
.nav {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;


}

.container {
    grid-template-rows: 300px;
}

.nav {
    font-size: 20px;
    font-weight: 300;
}

.nav-item,
.container-item {
    padding: 10px 20px;
    background-color: #DDDDDD;
    box-shadow: 2px 2px 5px gray;
    border-radius: 2px;
    text-align: center;

}

.container-item:nth-of-type(1) {
    grid-column: span 3;
    grid-row: span 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.406), rgba(0, 0, 0, 0.806)), url("https://source.unsplash.com/1600x900/?dev");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    padding: 180px 50px;

}

.container-item:nth-of-type(1) h1 {

    margin-bottom: 10px;
    font-size: 60px;
    font-weight: bold;
    color: white;

}

.container-item:nth-of-type(1) p {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;

}

.links {
    padding: 10px 20px;
    border-radius: 2px;
    background-color: #333333;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.membership {
    padding: 30px;
}

.membership h5 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.membership h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 20px;
}

.token {
    padding: 30px;
}

.token h5 {
    font-size: 20px;
    margin: 20px;
}

.token i {
    color: #333333;
}

.token p {
    font-size: 20px;
}

.big-token {
    grid-column: span 4;
    text-align: left;
}

.big-token-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.big-token-items img {
    width: 100%;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
    padding: 20px;

}

.big-token-items h3 {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.big-token-items p {
    font-size: 20px;

    padding-bottom: 30px;


}

.big-token-items a {
    margin-bottom: 80px;
}

.pic-galary {
    margin: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    grid-gap: 10px;

}

.pic-galary img {
    width: 100%;
    height: 100%;

    object-fit: cover;

}